---
import Plantilla from '@/plantillas/Principal.astro';
---

<Plantilla titulo="___" descripcion="___" conMenu={false} imagen={{ ruta: '___.webp', alt: '___' }}>
  <h1>Créditos</h1>
</Plantilla>

<style lang="scss"></style>
