---
import Layout from '../layouts/Layout.astro';
import Mapa from '@/components/Mapa.astro';
import LineaTiempo from '@/components/LineaTiempo.astro';
import Menu from '@/components/Menu.astro';
import SelectorNivel from '@/components/SelectorNivel.astro';
import MapaDetalle from '@/components/MapaDetalle.astro';
---

<Layout title="Los 10 Yas!">
  <main>
    <!-- <h1 class="titulo">NiñezYA</h1> -->
    <Menu />
    <!-- <Termometro titulo="1. Salud y Nutrición" valor={100} />
      
      <Termometro titulo="2. Educación Inicial" valor={100} />
      <Termometro titulo="3. Educación Preescolar, Básica y Media" valor={100} />
      <Termometro titulo="4. Ambiente Sano" valor={100} />
      <Termometro titulo="5. Juego" valor={100} />
      <Termometro titulo="6. Participación" valor={100} />
      <Termometro titulo="7. Fortalecimiento Familiar del Cuidado y la Crianza de la Niñez" valor={100} />
      <Termometro titulo="8. Protección Frente a Cualquier Tipo de Violencia" valor={100} />
      <Termometro
        titulo="9. Adolescentes con Justicia Restaurativa y Pedagógica (Sistema de Responsabilidad Penal para Adolescentes - SRPA)"
        valor={100}
      />
      <Termometro titulo="10. Cultura de Paz, Reconciliación y Convivencia" valor={100} /> -->

    <div id="introduccion">
      <SelectorNivel />
      <div id="contenedorMapa"><Mapa ancho={30} alto={60} /></div>
      <div id="contenedorLineaTiempo"><LineaTiempo alto={25} /></div>
    </div>
    <div id="contenedorComparativo"><MapaDetalle ancho={30} alto={60} /></div>
  </main>
</Layout>

<script>
  // const elementos = document.querySelectorAll('.termometro');

  // elementos.forEach((elemento: HTMLDivElement) => {
  //   elemento.onmouseenter = () => {
  //     indicador.set(elemento.innerText);
  //   };
  // });
</script>

<style lang="scss">
  #contenedorMapa {
    position: relative;
  }
  h1 {
    display: block;
  }

  h2 {
    font-size: 1em;
    width: 70%;
  }

  main {
    display: flex;
  }

  #introduccion {
    margin: 3em 1em 0 2.5em;
    flex-basis: 33%;
  }
</style>
