---
import Plantilla from '../plantillas/Principal.astro';
---

<Plantilla titulo="SIYA">
  <div class="inicio">
    <h1>SIYA</h1>
    <h2 class="subtitulo">Sistema de Indicadores de los YA</h2>
    <p>Texto general de inicio sobre el tablero</p>
  </div>
</Plantilla>

<style lang="scss"></style>
