---
import DatosEstructurados from '@/plantillas/DatosEstructurados.astro';
import Plantilla from '@/plantillas/Principal.astro';
import { descripcionGeneral, nombrePagina } from '@/utilidades/constantes';
import type { AboutPage } from 'schema-dts';

const datosPagina: AboutPage = {
  '@type': 'AboutPage',
  url: 'https://imagina.uniandes.edu.co/especiales/siya',
  name: nombrePagina,
  inLanguage: 'es-CO',
  description: descripcionGeneral,
  // fechaPublicacion: new Date('11-19-2023'),
  // fechaActualizacion: new Date(),
  // tags: ['indicadores', 'niñez', 'colombia', 'tablero-control', 'derechos', 'jovenes'],
};
---

<Plantilla conMenu={true}>
  <DatosEstructurados slot="cabeza" pagina={datosPagina} />
  <div class="inicio">
    <section>
      <h1>SIYA</h1>
      <h2 class="subtitulo">Sistema de Indicadores de los YA</h2>

      <div class="texto">
        <h3>¿Cómo está la niñez en Colombia?</h3>
        <p>
          La coalición <span class="negrita">NiñezYA</span> -que reúne a más de 200 organizaciones no gubernamentales-
          tiene la misión de contribuir con el cumplimiento de los derechos de la niñez, como lo señala la Constitución
          de Colombia, la Convención sobre los Derechos del Niño y los desarrollos legislativos vigentes. Para cumplir
          con su propósito, el <span class="negrita">Sistema de Indicadores de los YA (SIYA)</span> dispone de datos que
          permiten hacerle seguimiento al estado y avance de los diez asuntos impostergables para el bienestar de esta
          población.
        </p>
        <p>
          El <span class="negrita">SIYA</span> tiene como objetivo central entregar indicadores relevantes, actualizados
          y de alta calidad a quienes tienen el poder y la responsabilidad de lograr el desarrollo pleno de niñas, niños
          y adolescentes: sociedad civil, funcionarios públicos, candidatos, mandatarios, legisladores, entre otros.
        </p>
        <p>
          Colombia tiene datos sobre cómo se están garantizando estos derechos. Sin embargo, provienen de diferentes
          fuentes y se producen para cumplir distintos objetivos, lo cual conduce a que la información no esté
          consolidada, depurada y procesada para garantizar su relevancia, oportunidad y calidad. El
          <span class="negrita">SIYA</span> integra los datos. Esta herramienta dispone de indicadores oficiales
          existentes en el país y los hace accesibles para que los usemos quienes trabajamos por el bienestar de los más
          de 15 millones de niñas, niños y jóvenes menores de 18 años.
        </p>

        <h3>Nuestros objetivos son:</h3>

        <ol>
          <li>
            Compilar, depurar y hacer seguimiento: a los indicadores más relevantes de los 10 <span class="negrita"
              >YA</span
            > que dan cuenta de la garantía de los derechos de la niñez.
          </li>
          <li>
            Evidenciar los vacíos en la información sobre: el estado de los derechos de la niñez y proponer soluciones
            para mejorar los sistemas de seguimiento.
          </li>
          <li>
            Producir alertas y recomendaciones al país: Concretamente a tomadores de decisiones, organizaciones y
            personas que tienen en sus manos la posibilidad de contribuir con el desarrollo y bienestar de niñas, niños
            y adolescentes.
          </li>
        </ol>
      </div>
    </section>

    <img src={`${import.meta.env.BASE_URL}/imagenes/mapa3.svg`} alt="mapa de Colombia" />
  </div>
</Plantilla>

<style lang="scss">
  @import '@/scss/constantes';

  h1 {
    font-size: 5em;
    margin: 1em 0.1em 0 0;
    text-align: center;
  }

  h2 {
    font-size: 1.5em;
    margin: 1em 0 2em 15vw;
    width: 70%;
    text-align: center;
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 850,
      'slnt' 0,
      'CRSV' 0;
  }

  h3 {
    font-size: 1.1em;
    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 700,
      'slnt' 0,
      'CRSV' 0;
  }
  h4 {
    margin-top: 2em;
  }

  li {
    padding-bottom: 1em;
  }

  .inicio {
    background-color: var(--moradoProfundo);
    color: var(--blancoMarfil);
    padding-bottom: 20vh;
    line-height: 1.4;

    font-variation-settings:
      'MONO' 0,
      'CASL' 0,
      'wght' 1000,
      'slnt' 0,
      'CRSV' 0;

    .texto {
      padding: 0 2.5em 0 3.5em;
      text-align: left;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 433,
        'slnt' 0,
        'CRSV' 0;
    }
  }

  section {
    width: 100%;
  }

  img {
    margin: 5em 5vw 30vh 9vw;
    height: 300px;
  }

  @media screen and (min-width: $corte1) {
    img {
      margin: 4em 0 -3em 12.5vw;
      width: 70vw;
      height: 444px;
    }
  }
  @media screen and (min-width: $corte2) {
    .inicio {
      background-color: var(--moradoProfundo);
      color: var(--blancoMarfil);
      padding-bottom: 20vh;
      line-height: 1.4;

      .texto {
        padding: 0 6em 0 7em;
        text-align: left;
        font-size: 0.9em;
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 433,
          'slnt' 0,
          'CRSV' 0;
      }
    }

    section {
      width: 100%;
    }
    h1 {
      font-size: 5.5em;
      margin: 1em 0.5vw 0 0;
      text-align: center;
    }

    h2 {
      font-size: 1.7em;
      width: 100%;
      margin: 1em 0.5vw 2em 0;
      text-align: center;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 850,
        'slnt' 0,
        'CRSV' 0;
    }

    h3 {
      font-size: 1.2em;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 800,
        'slnt' 0,
        'CRSV' 0;
    }
    h4 {
      margin-top: 2em;
    }
    img {
      margin: 7em 0 -3em 12.5vw;
      width: 70vw;
      height: 800px;
    }
  }

  @media screen and (min-width: $corte3) {
    .inicio {
      background-color: var(--moradoProfundo);
      color: var(--blancoMarfil);
      padding-bottom: 20vh;
      line-height: 1.4;

      .texto {
        padding: 0 2em 0 7em;
        font-size: 0.9em;
        text-align: left;
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 433,
          'slnt' 0,
          'CRSV' 0;
      }
    }
    section {
      width: 62%;
    }
    h1 {
      font-size: 5em;
      margin-left: 8vw;
      text-align: center;
    }
    h2 {
      font-size: 1.5em;
      margin-left: 8vw;
      width: 80%;
      text-align: center;
    }

    h3 {
      font-size: 1.15em;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 800,
        'slnt' 0,
        'CRSV' 0;
    }
    img {
      position: fixed;
      top: 20vh;
      right: 5%;
      width: 22%;
      height: 70%;
      margin: 0;
    }
  }

  @media screen and (min-width: $corte4) {
    .inicio {
      background-color: var(--moradoProfundo);
      color: var(--blancoMarfil);
      padding-bottom: 20vh;
      line-height: 1.4;

      .texto {
        padding: 0 8vw 7vw;
        font-size: 0.95em;
        text-align: left;
        font-variation-settings:
          'MONO' 0,
          'CASL' 0,
          'wght' 433,
          'slnt' 0,
          'CRSV' 0;
      }
    }
    h1 {
      font-size: 5em;
      margin-left: 1.5vw;
      text-align: center;
    }

    h2 {
      font-size: 1.5em;
      margin-left: 5vw;
      width: 80%;
      text-align: center;
    }

    h3 {
      font-size: 1.3em;
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 800,
        'slnt' 0,
        'CRSV' 0;
    }
    h4 {
      margin-top: 2em;
    }

    img {
      position: fixed;
      top: 20vh;
      right: 5%;
      width: 28%;
      height: 70%;
      margin: 0;
      padding-left: 2vw;
    }
  }
</style>
