---
import Layout from '../layouts/Layout.astro';
import Termometro from '../components/Termometro.astro';
import Mapa from '@/components/Mapa.astro';
import Menu from '@/components/Menu.astro';
---

<Layout title="Los 10 Yas!">
  <main>
    <!-- <h1 class="titulo">NiñezYA</h1> -->

    <div class="contenido">
      <Menu />
        <!-- <Termometro titulo="1. Salud y Nutrición" valor={100} />
        
        <Termometro titulo="2. Educación Inicial" valor={100} />
        <Termometro titulo="3. Educación Preescolar, Básica y Media" valor={100} />
        <Termometro titulo="4. Ambiente Sano" valor={100} />
        <Termometro titulo="5. Juego" valor={100} />
        <Termometro titulo="6. Participación" valor={100} />
        <Termometro titulo="7. Fortalecimiento Familiar del Cuidado y la Crianza de la Niñez" valor={100} />
        <Termometro titulo="8. Protección Frente a Cualquier Tipo de Violencia" valor={100} />
        <Termometro
          titulo="9. Adolescentes con Justicia Restaurativa y Pedagógica (Sistema de Responsabilidad Penal para Adolescentes - SRPA)"
          valor={100}
        />
        <Termometro titulo="10. Cultura de Paz, Reconciliación y Convivencia" valor={100} /> -->


      <div id="introduccion">
        <div id="contenedorMapa"><Mapa ancho={60} alto={70} /></div>
      </div>
    </div>
  </main>
</Layout>

<script>
  // const elementos = document.querySelectorAll('.termometro');

  // elementos.forEach((elemento: HTMLDivElement) => {
  //   elemento.onmouseenter = () => {
  //     indicador.set(elemento.innerText);
  //   };
  // });
</script>

<style lang="scss">
  @import '@/scss/estilos.scss';

  main {
    font-family: var(--fuente);
  }

  #contenedorMapa {
    position: relative;
  }
  h1 {
    display: block;
  }

  h2 {
    font-size: 1em;
    width: 70%;
  }

  main {
    padding: 2em;
  }

  .contenido {
    display: flex;
  }

  #introduccion {
    flex-basis: 50%;
  }
</style>
