---
import Mapa from '@/componentes/Mapa.astro';
import Plantilla from '../plantillas/Principal.astro';
---

<Plantilla titulo="SIYA">
  <div class="inicio">
    <div class="seccion">
      <h1>SIYA</h1>
      <h2 class="subtitulo">Sistema de Indicadores de los YA</h2>
      <div class="texto">
        <h3><strong>¿Cómo está la niñez en Colombia?</strong></h3>
        <p>
          La coalición <strong>NiñezYA</strong> -que reúne a más de 200 organizaciones no gubernamentales- tiene la
          misión de contribuir con el cumplimiento de los derechos de la niñez, como lo señala la Constitución de
          Colombia, la Convención sobre los Derechos del Niño y los desarrollos legislativos vigentes. Para cumplir con
          su propósito, el <strong>Sistema de Indicadores de los YA (SIYA)</strong> dispone de datos que permiten
          hacerle seguimiento al estado y avance de los diez asuntos impostergables para el bienestar de esta población.
        </p>
        <p>
          El <strong>SIYA</strong> tiene como objetivo central entregar indicadores relevantes, actualizados y de alta
          calidad a quienes tienen el poder y la responsabilidad de lograr el desarrollo pleno de niñas, niños y
          adolescentes: sociedad civil, funcionarios públicos, candidatos, mandatarios, legisladores, entre otros.
        </p>
        <p>
          Colombia tiene datos sobre cómo se están garantizando estos derechos. Sin embargo, estos datos provienen de
          diferentes fuentes y se producen para cumplir diferentes objetivos, lo cual conduce a que la información no
          esté consolidada, depurada y procesada para garantizar su relevancia, oportunidad y calidad. El <strong
            >SIYA</strong
          > los integra. Esta herramienta dispone de datos oficiales existentes en el país y produce cifras accesibles
          para que los usen quienes trabajamos por el bienestar de los más de 15 millones de niñas, niños y jóvenes
          menores de 18 años.
        </p>
        <p style="margin-top:2em"><strong>Nuestros objetivos son:</strong></p>
        <ol>
          <li>
            Compilar, depurar y hacer seguimiento: a los indicadores más relevantes de los 10 YA que dan cuenta de la
            garantía de los derechos de la niñez.
          </li>
          <li>
            Evidenciar los vacíos en la información sobre: el estado de los derechos de la niñez y proponer soluciones
            para mejorar los sistemas de seguimiento.
          </li>
          <li style="padding-bottom:20vh">
            Producir alertas y recomendaciones al país: Concretamente a tomadores de decisiones, organizaciones y
            personas que tienen en sus manos la posibilidad de contribuir con el desarrollo y bienestar de niñas, niños
            y adolescentes.
          </li>
        </ol>
      </div>
    </div>
    <div>
      <img id="mapa" src="/especiales/siya/estaticos/imagenes/mapa.svg" alt="mapa de Colombia" />
    </div>
  </div>
</Plantilla>

<style lang="scss">
  li {
    padding-bottom: 1em;
  }
</style>
