node_modules
*.log*
.env
dist
.DS_Store
publico
aplicaciones/procesador/fuente/datos/*
!aplicaciones/procesador/fuente/datos/README.md
aplicaciones/www/estaticos/datos/*
!aplicaciones/www/estaticos/datos/README.md