---
import Plantilla from '@/plantillas/Principal.astro';
import datos from '@/datosVisibles/indicadores';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths = (() => {
  return datos.map((ya) => {
    return { params: { ya: ya.ruta } };
  });
}) satisfies GetStaticPaths;

const { ya } = Astro.params;
const datosYa = datos.find((instancia) => instancia.ruta === ya);
---

<Plantilla titulo={datosYa.nombre} conMenu={true}>
  <h1>{datosYa.nombre}</h1>
</Plantilla>
