---
export interface Props {
  titulo: string;
}

const { titulo } = Astro.props;
import Cargador from '@/componentes/Cargador.astro';
import Menu from '@/componentes/Menu.astro';
import Encabezado from '@/componentes/Encabezado.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{titulo}</title>
  </head>
  <body>
    <Encabezado />
    <main>
      <Menu />
      <slot />
    </main>

    <Cargador />
  </body>
</html>

<style is:global>
  @import '@/scss/estilos.scss';
</style>
