---
export interface Props {
  titulo?: string;
}

const { titulo } = Astro.props;
import Cargador from '@/componentes/Cargador.astro';
import Menu from '@/componentes/Menu.astro';
import Encabezado from '@/componentes/Encabezado.astro';
import Cabeza from './Cabeza.astro';
---

<!doctype html>
<html lang="en">
  <Cabeza titulo={titulo} />
  <body>
    <Encabezado />
    <Menu />
    <main class="contenido">
      <slot />
    </main>

    <Cargador />
    <style lang="scss" is:global>
      @import '@/scss/estilos.scss';
    </style>
  </body>
</html>
