---
import Cargador from '@/componentes/Cargador.astro';
import Encabezado from '@/componentes/Encabezado.astro';
import Cabeza from './Cabeza.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <Cabeza {...Astro.props} />
    <slot name="cabeza" />
  </head>
  <body>
    <Encabezado />
    <main class="contenidoSinMenu">
      <slot />
    </main>

    <Cargador />
    <style lang="scss" is:global>
      @import '@/scss/estilos.scss';
    </style>
  </body>
</html>
