---
export interface Props {
  titulo: string;
}

const { titulo } = Astro.props;
import Cargador from '@/componentes/Cargador.astro';
import Encabezado from '@/componentes/Encabezado.astro';
import Cabeza from './Cabeza.astro';
---

<!doctype html>
<html lang="en">
  <Cabeza titulo={titulo} />
  <body>
    <Encabezado />
    <main class="contenidoSinMenu">
      <slot />
    </main>

    <Cargador />
  </body><style lang="scss" is:global>
    @import '@/scss/estilos.scss';
  </style>
</html>
