<div>
  <div id="logo">
    <a href={`${import.meta.env.BASE_URL}/`}
      ><img src={`${import.meta.env.BASE_URL}/logo.png`} alt="Logo Niñez Ya." /></a>
  </div>
</div>

<style lang="scss">
  #logo {
    width: 100px;
    margin: 1em 1em 1em 1.5em;

    img {
      width: 100%;
      height: auto;
    }
  }
</style>
