<nav id="encabezado">
  <div id="logo">
    <a href={`${import.meta.env.BASE_URL}/`}
      ><img src={`${import.meta.env.BASE_URL}/logo.png`} alt="Logo Niñez Ya." /></a
    >
  </div>

  <ul id="menuSuperior">
    <li class="elementoMenu"><a>Sobre el tablero</a></li>
    <li class="elementoMenu"><a>Créditos</a></li>
    <li class="elementoMenu"><a>Datos</a></li>
  </ul>

  <style lang="scss">
    nav {
      display: flex;
      justify-content: space-around;
    }
    #encabezado {
      height: 10vh;
      width: 100%;
      background-color: white;
      top: 0;
      z-index: 10;
      position: fixed;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
    }
    #logo {
      width: 70px;
      margin: 1em 1em 1em 1.5em;

      img {
        width: 100%;
        height: auto;
      }
    }

    #menuSuperior {
      display: flex;
      list-style-type: none;
      width: 90%;
      justify-content: flex-end;
    }

    .elementoMenu {
      font-size: 1em;
      margin-left: 3em;
      cursor: pointer;

      &:hover {
        color: var(--uvaNinezYa);
      }
    }

    ul {
      display: flex;
      margin: 8px 0 0 5px;
    }
  </style>
</nav>
