<nav id="menuAños">
  <span id="añoElegido"> </span>
  <ul id="añosOcultos"></ul>
</nav>

<script>
  import { listaAños, añoSeleccionado } from '@/utilidades/cerebro';

  const menuAños = document.getElementById('menuAños') as HTMLElement;

  if (menuAños) {
    const añoElegido = document.getElementById('añoElegido');
    const añosOcultos = document.getElementById('añosOcultos');
    let añoActivo: HTMLSpanElement;

    listaAños.subscribe((lista) => {
      if (!lista.length) return;
      añosOcultos.innerHTML = '';
      menuAños.style.display = 'flex';

      lista.forEach(({ año, valor }, i) => {
        const boton = document.createElement('span');
        boton.className = 'botonAño';
        boton.innerText = año;

        // Si no hay datos en ese año, le agrega la clase 'vacio'
        if (!valor) {
          boton.classList.add('vacio');
        } else {
          boton.onclick = () => {
            if (añoActivo) {
              añoActivo.classList.remove('activo');
            }

            boton.classList.add('activo');
            añoActivo = boton;
            añoElegido.innerText = `${añoActivo.innerText} ▾`;
            añoSeleccionado.set(añoActivo.innerText);
          };

          if (i === lista.length - 1) {
            boton.click();
          }
        }
        añosOcultos.appendChild(boton);
      });
    });

    // Mostrar menú de años
    añoElegido.addEventListener('click', () => {
      añosOcultos.classList.toggle('abierto');
    });

    // Cerrar menú de años al hacer click por fuera
    document.body.addEventListener('click', (evento) => {
      if (evento.target === añoElegido) return;

      if (!(menuAños === evento.target || menuAños.contains(evento.target as Node))) {
        añosOcultos.classList.remove('abierto');
      }
    });
  }
</script>

<style lang="scss" is:global>
  #menuAños {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90px;
    display: none;
    text-align: center;
    font-size: 0.9em;
    width: fit-content;
    color: var(--uvaNinezYa);

    #añoElegido {
      cursor: pointer;
      border: 1px solid var(--uvaNinezYa);
      padding: 0.2em 0.5em;
      border-radius: 5px;
    }

    #añosOcultos {
      display: none;
      position: absolute;
      top: 2em;
      width: 100%;
      z-index: 2;
      background-color: var(--blancoMarfil);

      &.abierto {
        display: flex;
        flex-direction: column;
      }
    }

    .botonAño {
      margin-right: 0.3em;
      border: 1px solid;
      cursor: pointer;
      padding: 0.2em;
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: var(--amarilloChichi);
      }

      &.activo {
        cursor: initial;
        background-color: var(--moradoPandito);
      }

      &.vacio {
        cursor: not-allowed;
        background-color: #969696;
        color: antiquewhite;
      }
    }
  }
</style>
