---

---

<div id="selectorNivel">
  <button class="botonSelector activo" data-nivel="dep">Departamento</button>
  <button class="botonSelector" data-nivel="mun">Municipio</button>
</div>

<script>
  import { nivel } from '@/utilidades/cerebro';

  const selectores = document.querySelectorAll<HTMLButtonElement>('.botonSelector');
  let seleccionado: HTMLElement;

  selectores.forEach((boton) => {
    const valorNivel = boton.dataset.nivel;

    if (boton.classList.contains('activo')) {
      seleccionado = boton;
    }

    boton.addEventListener('click', () => {
      if (nivel.value === valorNivel) return;
      if (seleccionado) seleccionado.classList.remove('activo');

      boton.classList.add('activo');
      seleccionado = boton;
      nivel.set(valorNivel);
    });
  });
</script>

<style lang="scss">
  #selectorNivel {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 1em;
  }
  .botonSelector {
    margin-right: 1em;
    border: 1px solid var(--moradoProfundo);
    color: var(--moradoProfundo);
    text-align: left;

    &:hover {
      cursor: pointer;
      background-color: #ffff8a;
    }
    &.activo {
      background-color: var(--moradoProfundo);
      color: white;
    }
  }
</style>
