---

---

<div id="selectorNivel">
  <button class="botonSelector nivelDep" data-nivel="dep">Departamento</button>
  <button class="botonSelector nivelMun" data-nivel="mun">Municipio</button>
</div>

<script>
  import { nivel } from '@/utilidades/cerebro';

  const contenedor = document.getElementById('selectorNivel') as HTMLDivElement;

  if (contenedor) {
    const botonDep = contenedor.querySelector('.nivelDep');
    const botonMun = contenedor.querySelector('.nivelMun');
    const selectores = document.querySelectorAll<HTMLButtonElement>('.botonSelector');

    selectores.forEach((boton) => {
      const valorNivel = boton.dataset.nivel;

      boton.addEventListener('click', () => {
        if (nivel.value === valorNivel) return;
        nivel.set(valorNivel);
      });
    });

    nivel.subscribe((nuevoNivel) => {
      if (!nuevoNivel) return;

      if (nuevoNivel === 'dep') {
        botonMun.classList.remove('activo');
        botonDep.classList.add('activo');
      } else {
        botonMun.classList.add('activo');
        botonDep.classList.remove('activo');
      }
    });
  }
</script>

<style lang="scss">
  #selectorNivel {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: fit-content;
    margin-bottom: 1em;
  }
  .botonSelector {
    margin-right: 1em;
    border: 1px solid var(--moradoProfundo);
    color: var(--moradoProfundo);
    text-align: left;

    &:hover {
      cursor: pointer;
      background-color: #ffff8a;
    }
    &.activo {
      background-color: var(--moradoProfundo);
      color: white;
    }
  }
</style>
