---
export interface Props {
  titulo: string;
  valor: number;
}

const { titulo, valor } = Astro.props;
---

<div class="termometro">
  <span class="estado" style={`width:${valor}%`}></span>
  <span class="titulo">{titulo}</span>
</div>

<style lang="scss">
  @import '../scss/estilos.scss';
  .termometro {
    display: flex;
    height: 30px;
    background-color: #ebb5ad;
    padding: 0.6em 1em 0.3em 1em;
    margin-bottom: 1em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    font-size: 0.8em;

    .titulo {
      padding-top: 0.4em;
      color: #631feb;
      font-weight: 700;
      z-index: 2;
    }

    .estado {
      position: absolute;
      background-color: $verdeBrillante;
      display: block;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
</style>
