---
import datos from '@/datosVisibles/indicadores';
import Encabezado from './Encabezado.astro';
---

<nav id="menu">
  <Encabezado />
  <ol>
    {
      datos.yas.map((ya) => {
        return (
          <li class="ya">
            <p class="nombreYa">{ya.nombre}</p>
            <ul class="indicadores">
              {ya.indicadores.map((indicador) => {
                return (
                  <li class="indicador" data-archivo={indicador.archivo}>
                    <a>{indicador.nombre}</a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ol>
</nav>

<script>
  import { archivoActual, cargarDatos, crearListaAños } from '@/utilidades/cerebro';
  const yas = document.querySelectorAll<HTMLElement>('.ya');
  const indicadores = document.querySelectorAll<HTMLLIElement>('.indicador');

  // Enviar al cerebro el nombre del archivo de datos correspondiente al indicador
  indicadores.forEach((elemento) => {
    elemento.onclick = async () => {
      archivoActual.set(elemento.dataset.archivo);
      await cargarDatos();
      crearListaAños();
    };
  });
  // Abrir sub menú de indicadores al hacer click en un 'ya'
  yas.forEach((contenedorYa) => {
    const nombreYa = contenedorYa.querySelector<HTMLElement>('.nombreYa');
    nombreYa.addEventListener('click', () => {
      abrirYa(contenedorYa);
    });
  });

  function abrirYa(contenedorYa: HTMLElement) {
    const contenedor = contenedorYa.querySelector<HTMLElement>('.indicadores');
    contenedor.classList.toggle('abierto');
  }
</script>

<style lang="scss">
  #menu {
    width: 30vw;
    padding-right: 1em;
    font-family: var(--fuente);
    .ya {
      font-weight: 700;
      cursor: pointer;
    }

    .indicadores {
      font-weight: 300;
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;

      &.abierto {
        display: block;
      }
    }

    .indicador {
      position: relative;
      font-size: 0.9em;
      margin-bottom: 0.3em;

      &:hover {
      }

      &::before {
        content: '';
        width: 0.3em;
        height: 0.3em;
        top: 0.25em;
        left: -0.8em;
        display: inline-block;
        border: 2px solid var(--uvaNinezYa);
        position: absolute;
        border-radius: 50%;
      }
    }
  }
</style>
