---
import datos from '@/datosVisibles/indicadores';
---

<nav id="menu">
  <ol>
    {
      datos.yas.map((ya) => {
        return (
          <li class="ya">
            {ya.nombre}
            <ul class="indicadores">
              {ya.indicadores.map((indicador) => {
                return (
                  <li>
                    <a>{indicador.nombre}</a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ol>
</nav>

<script>
  const yas = document.querySelectorAll<HTMLElement>('.ya');

  // Abrir sub menú de indicadores al hacer click en un 'ya'
  yas.forEach((elemento) => {
    elemento.addEventListener('click', () => {
      abrirYa(elemento);
    });
  });

  function abrirYa(elemento: HTMLElement) {
    const indicadores = elemento.querySelector<HTMLElement>('.indicadores');
    indicadores.classList.toggle('abierto');
  }
</script>

<style lang="scss">
  #menu {
    .ya {
      font-weight: 700;
      cursor: pointer;
    }
    .indicadores {
      font-weight: 300;
      display: none;
      list-style: disc;

      &.abierto {
        display: block;
      }
    }
  }
</style>
