---
import datos from '@/datosVisibles/indicadores';
import Encabezado from './Encabezado.astro';
---

<nav id="menu">
  <Encabezado />
  <ol>
    {
      datos.yas.map((ya) => {
        return (
          <li class="ya">
            <p class="nombreYa titulos">{ya.nombre}</p>
            <ul class="indicadores subtitulos">
              {ya.indicadores.map((indicador) => {
                return (
                  <li class="indicador" data-archivo={indicador.archivo}>
                    <a>{indicador.nombre}</a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ol>
</nav>

<script>
  import { archivoActual, cargarDatos, crearListaAños } from '@/utilidades/cerebro';
  const yas = document.querySelectorAll<HTMLElement>('.ya');
  const indicadores = document.querySelectorAll<HTMLLIElement>('.indicador');

  // Enviar al cerebro el nombre del archivo de datos correspondiente al indicador
  indicadores.forEach((elemento) => {
    elemento.onclick = async () => {
      archivoActual.set(elemento.dataset.archivo);
      await cargarDatos();
      crearListaAños();
    };
  });
  // Abrir sub menú de indicadores al hacer click en un 'ya'
  yas.forEach((contenedorYa) => {
    const nombreYa = contenedorYa.querySelector<HTMLElement>('.nombreYa');
    nombreYa.addEventListener('click', () => {
      abrirYa(contenedorYa);
    });
  });

  function abrirYa(contenedorYa: HTMLElement) {
    const contenedor = contenedorYa.querySelector<HTMLElement>('.indicadores');
    contenedor.classList.toggle('abierto');
  }
</script>

<style lang="scss">
  @import '@/scss/estilos';

  #menu {
    width: 18vw;
    padding: 0 3em 0 1.5em;
    font-family: var(--fuente);
    color: var(--fucsiaEsmalte);
    background-color: var(--moradoPandito);

    .ya {
      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 700,
        'slnt' 0,
        'CRSV' 1;
      color: var(--fucsiaEsmalte);
      cursor: pointer;
    }

    .indicadores {
      padding: 0 3em 0 0;
      display: none;
      list-style: none;
      margin: 0;

      font-variation-settings:
        'MONO' 0,
        'CASL' 0,
        'wght' 335,
        'slnt' 0,
        'CRSV' 0;
      color: var(--azulViejo);
      margin-bottom: 1.4em;
      line-height: 1.2em;

      &.abierto {
        display: block;
      }
    }

    .indicador {
      position: relative;
      font-size: 0.9em;
      margin-bottom: 0.75em;

      &:hover {
      }

      &::before {
        content: '';
        width: 0em;
        height: 0em;
        top: 0.4em;
        left: -1em;
        display: inline-block;
        border: 2px solid var(--fucsiaEsmalte);
        position: absolute;
        border-radius: 50%;
      }
    }
  }
</style>
