@import './constantes';
@import './normalizar';
@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV,MONO@-15..0,300..800,0..1,0..1,0..1&display=swap');

:root {
  // Fuentes
  --fuente: 'Recursive', 'Courier New', monospace;

  // Colores línea de tiempo
  --color0: #1818ff;
  --color1: #ff771a;
  --color2: #ff00ff;
  --color3: #10b5ae;
  --color4: #b4b800;
  --color5: #570a8f;
  --color6: #e40074;
  --color7: #762e00;
  --color8: #ffceff;
  --color9: #03ffff;
  --color10: #ff0400;
  --color11: #557eff;
  --color12: #ffc720;
  --color13: #ad9987;
  --color14: #ffa8b1;
  --color15: #ea6eff;
  --color16: #007876;
  --color17: #dffd00;
  --color18: #7dffa2;
  --color19: #7d57a2;
  --color20: #ffb46d;
  --color21: #1b1a1a;
  --color22: #af6c00;
  --color23: #4dcc23;
  --color24: #24467d;
  --color25: #e0ff21;
  --color26: #8ca2ff;
  --color27: #d35446;
  --color28: #cdeab6;
  --color29: #bf3dc5;
  --color30: #59708c;
  --color31: #cfb428;

  // Colores NiñezYa Logo
  --aguaMarinaNinezYa: #a3ede3;
  --azulNinezYa: #32b6ff;
  --uvaNinezYa: #7600db;

  // Color blanco
  --blancoMarfil: #f5fbef;

  // Color negro
  --negroCasi: #080705;

  // Colores claros sobre oscuro
  --verdeIntenso: #94ff1a;
  --verdeLimon: #e0ff20;
  --amarilloChichi: #ffff89;
  --amarilloValencia: #fed730;
  --rosaBarbie: #f15bb5;

  // Colores oscuros sobre claro
  --escarlataBebe: #de2e56;
  --fucsiaEsmalte: #af067d;
  --uvaProfunda: #881375;
  --azulViejo: #011f4e;
  --verdeMuertoPorDentro: #003e40;

  // Fondos
  --moradoProfundo: #760287;
  --moradoPandito: #faf2fc;
}

html {
  font-family: var(--fuente);
  font-variation-settings:
    'MONO' 0,
    'CASL' 0,
    'wght' 600,
    'slnt' 0,
    'CRSV' 0.5;
  color: var(--negroCasi);
  background-color: var(--blancoMarfil);
}

h1 {
  display: block;
}

h2 {
  font-size: 1em;
  width: 70%;
}

::selection {
  background-color: var(--amarilloChichi);
  color: var(--azulViejo);
}

main {
  display: flex;
  margin-top: $altoMenuSuperior;
  min-height: calc(100vh - $altoMenuSuperior);
}

.contenido {
  margin-left: 50px;

  .columna {
    flex-basis: 50%;
    padding: 1em;
  }

  &.sinMenu {
    margin-left: 0;
  }
}

#cabecera {
  flex-direction: column;
}

#contenedorMapa {
  position: relative;
  margin-left: 1em;
}

#informacion {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  max-width: 200px;
  padding: 0.5em;
  font-size: 0.8em;
  background-color: var(--blancoMarfil);
  color: black;
  z-index: 9;
  transition: opacity 0.42s ease-out;
  transform: translate(-10%, -15%);
  border: 1px solid var(--moradoProfundo);
  border-radius: 4px;

  &.visible {
    opacity: 1;
  }
}

#comparativo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.mapita {
  stroke: var(--moradoProfundo);
  stroke-opacity: 0.5;
  border: 2px solid;
  padding: 0 0.3em;
  margin: 0.3em;

  .encabezadoMapita {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
    }
  }

  .cerrarMapita {
    cursor: pointer;
    padding: 0.3em;

    &:hover {
      background-color: var(--escarlataBebe);
      color: white;
    }
  }
}

.contenedorMapita {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.negrita {
  font-variation-settings:
    'MONO' 1,
    'CASL' 0,
    'wght' 800,
    'slnt' 0,
    'CRSV' 0;
}

#menu {
  width: 90vw;
  transform: translateX(-100%);

  &::after {
    content: '';
    position: fixed;
    width: 50px;
    height: 100vh;
    background-color: var(--moradoPandito);
    top: 0;
    right: -50px;
  }

  &.visible {
    &::after {
      width: 0;
    }
  }
}

@media screen and (min-width: $corte2) {
  .contenido {
    margin-left: 50px;

    &.sinMenu {
      margin-left: 0;
    }
  }
}

@media screen and (min-width: $corte3) {
  #menu {
    font-size: 0.8em;
    transform: translateX(0%);
    overflow: auto;

    &::after {
      width: 0;
    }
  }

  .contenido {
    margin-left: 19vw;

    &.sinMenu {
      margin-left: 0;
    }
  }
}

@media screen and (min-width: $corte4) {
  #menu {
    font-size: 1em;
    transform: translateX(0%);
  }

  .contenido {
    margin-left: 440px;

    &.sinMenu {
      margin-left: 0;
    }
  }
}
